html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* sticky footer */
html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper {
  flex: 1 0 auto;
}
/* sticky footer end */

/* Col system */
.col-1 {
  width: calc(calc(100% / 12) * 1);
}

.col-2 {
  width: calc(calc(100% / 12) * 2);
}

.col-3 {
  width: calc(calc(100% / 12) * 3);
}

.col-4 {
  width: calc(calc(100% / 12) * 4);
}

.col-5 {
  width: calc(calc(100% / 12) * 5);
}

.col-6 {
  width: calc(calc(100% / 12) * 6);
}

.col-7 {
  width: calc(calc(100% / 12) * 7);
}

.col-8 {
  width: calc(calc(100% / 12) * 8);
}

.col-9 {
  width: calc(calc(100% / 12) * 9);
}

.col-10 {
  width: calc(calc(100% / 12) * 10);
}

.col-11 {
  width: calc(calc(100% / 12) * 11);
}

.col-12 {
  width: calc(calc(100% / 12) * 12);
}

@media only screen and (max-width: 600px) {
  .col-sm-12 {
    width: 100% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .col-md-6 {
    width: calc(calc(100% / 12) * 6) !important;
  }
}
/* Col system end */

a {
  color: inherit;
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.ul-nav > li {
  list-style-type: none;
}

a:hover {
  text-decoration: underline;
}

.wiki-link:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

* {
  box-sizing: border-box;
}

.link {
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.place-content-center {
  place-content: center;
}

.text-align-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.hover:hover {
  cursor: pointer;
}

/* Contact */

.contact-form {
  padding: 1rem;
  background: #f5f5f5;
  width: fit-content;
}

input,
textarea {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  width: 250px;
}

button {
  display: block;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 0.8em;
}

.success {
  color: green;
  font-size: 0.8em;
}
/* Contact end */

.form-login {
  min-height: 110%;
  width: fit-content;
}

.form-login > input {
  margin-bottom: 20px;
}

.text-align-webkit-center {
  text-align: -webkit-center;
}
